:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --darkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --fontMontserrat: 'Fraunces', serif;
    --fontFraunces: 'Montserrat', sans-serif;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--cream);
    height: 100vh;
}

h1 {
    font-family: var(--fontFraunces);
}

h4 {
    color: var(--darkGrayishBlue);
}

/** Movil **/

.contenedor {
    justify-content: center;
    max-width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.contenedor__imagen {
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.contenedor__texto {
    background: var(--white);
    width: fit-content;
    padding: 2rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.contenedor__texto h1 {
    font-family: var(--fontMontserrat);
}

.contenedor__texto h4 {
    font-family: var(--fontFraunces);
    text-transform: uppercase;
    color: gray;
    font-weight: 500;

}

.contenedor__texto--parrafo {
    font-size: 1.5rem;
    color: gray;
    font-family: var(--fontFraunces);
}

.contenedor__texto--precio {
    display: flex;
    align-items: center;
    font-family: var(--fontMontserrat);
    font-size: large;
    color: var(--darkCyan);

}

.contenedor__texto--precio span {
    margin-left: 0.5rem;
    font-size: 10px;
    color: gray;
    text-decoration: line-through;
}

.boton {
    display: block;
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.4rem;
    text-align: center;
    border: none;
    margin: 0rem 2rem;
    border-radius: 15px;
    background-color: var(--darkCyan);
}

.boton:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.boton a {
    font-family: var(--fontFraunces);
    font-size: medium;
    text-decoration: none;
    color: var(--white);
}

.attribution {
    display: block;
    padding: 2rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/** iPad // Laptop **/

@media (min-width: 768px) {

    .contenedor {
        margin: 10rem auto;
        display: grid;
        grid-template-rows: none;
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor__texto {
        border-bottom-left-radius: unset;
        border-top-right-radius: 1.5rem;
    }

    .contenedor__imagen {
        background-image: url(../images/image-product-desktop.jpg);
        border-top-right-radius: unset;
        border-bottom-left-radius: 1.5rem;
    }

}

@media (min-width: 1280px) {
    .contenedor {
        max-width: 45%;
        margin: 15rem auto;
    }

    .contenedor__texto h1 {
        font-size: 2.5rem;
    }

    .contenedor__texto--parrafo {
        font-size: 1rem;
    }

    .contenedor__texto--precio {
        font-size: 1.5rem;
    }

    .boton {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

}
