:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --darkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --fontMontserrat: 'Fraunces', serif;
    --fontFraunces: 'Montserrat', sans-serif;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--cream);
}

h1 {
    font-family: var(--fontFraunces);
}

h4 {
    color: var(--darkGrayishBlue);
}
/**
.contenedor {
    width: 80%;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem 6rem;
    padding: 2rem;
    
}

.contenedor__imagen {
    background-image: url(../images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;


}

.contenedor__texto {
    padding-left: 2rem;
   background-color: white;
   border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;
}  **/

/** Movil **/

.contenedor {
justify-content: center;
margin: 3rem 1rem;
display: grid;
grid-template-rows: 1fr 1fr;
}

.contenedor__imagen {
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.contenedor__texto {
    background: var(--white);
    padding: 2rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.contenedor__texto h1 {
    font-family: var(--fontMontserrat);
}

.contenedor__texto h4 {
    font-family: var(--fontFraunces);
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
   
}

.contenedor__texto--parrafo {
    font-size: 1.5rem;
    color: gray;
    font-family: var(--fontFraunces);
}

.contenedor__texto--precio {
    display: flex;
    align-items: center;
    font-family: var(--fontMontserrat);
    font-size:large;
    color: var(--darkCyan);

}

.contenedor__texto--precio span {
    margin-left: 0.5rem;
    font-size: 10px;
    color: gray;
    text-decoration: line-through;
}

.boton {
    display: block;
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.4rem;
    text-align: center;
    border: none;
    margin: 0rem 2rem;
    border-radius: 15px;
    
}
.boton a{
    font-family: var(--fontFraunces);
    font-size: medium;
    text-decoration: none;
    color: var(--white);
}

.boton--primario {
    background-color: var(--darkCyan);
}

.attribution {
    display: block;
    padding: 2rem;
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


/** iPad // Laptop **/

@media (min-width: 768px) {

    .contenedor{
        margin: 5rem;
        display: grid;
        grid-template-rows: none;
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedor__texto {
        border-bottom-left-radius: unset;
        border-top-right-radius: 1.5rem;
    }

    .contenedor__imagen {
        background-image: url(../images/image-product-desktop.jpg);
        border-top-right-radius: unset;
        border-bottom-left-radius: 1.5rem;
    }

    .attribution {
        margin-top: 10rem;
    }
     
}

@media (min-width: 1280px) {
     .contenedor {
       margin: 20rem 20rem;
       height: 40rem;
     }

    .contenedor__texto {
        width: 80%;
    }
}